.hero {
  background-color: lighten($primary, 20%);
  color: #fff;
  padding: 2rem;
}

.hero__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}


/* formulario de contacto */
.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact__button {
  background-color: #52abff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
